*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.nav-container {
    display: flex;
    /* align-items: center; */
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    border-bottom: 1px solid rgba(88, 83, 113, 0.1);
    padding-bottom: 20px;
    
  }
  
  .nav-container a{
    margin-right: auto;
    margin-left: 120px;
    margin-top: 10px;
    
  }
  
  .nav-lists {
    display: flex;
    justify-content: flex-end;
    margin-right: 120px;
  }

  .nav-lists ul{
    display: flex;
    margin-top: 20px;
    margin-right: 50px;
    list-style-type: none;
  }

  .nav-lists ul>li{
    
    margin-right:20px;
    font-weight:bolder;
    color:#000;
  }
  .nav-lists ul>li:hover{
    color: #00AFCB;
    cursor: pointer;
  }

  nav button{
    width: 70px;
    height: 45px;
    margin-left: -50px;
    margin-top: 10px;
    background-color: #00AFCB;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
  }


  /* carousel */

  .carousel-conainer{
    /* border: 1px solid red; */
    margin-top:20px;
    height: 80vh;
  }

  .carousel-card{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-around;
  }

  .carousel-card h1{
    font-size: 60px;
    margin-top: 30px;
    font-weight: bolder;
  }

  .carousel-card p{
    margin-top: 40px;
    font-size: 1.5em;
    font-weight: lighter;
  }
  .carousel-card h3{
    margin-top: 90px;
    margin-bottom: auto;
    
  }
  .carousel-card .card1-button{
    margin-top: 20px;
  }

  .card-left{
    padding-top: 20px;
    margin-left: 130px;
  }

  .card-right{
    margin-left:100px;
    margin-right: auto;
  }
  
  
  
  
